html{
    font-family: sans-serif;
}
body{
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    padding: 2em;
}
input{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-bottom: 20px;
    background: tomato;
    font-weight: bold;
}

form {
    margin-top: 26px;
}

div{
    display: flex;
    flex-direction: row; /* default */
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

label,input,button {
    font-size: 16px;
    line-height: 1.5;
}

label {
    text-align: right;
    width: 30%;
    margin-right: 2%;
}

input {
    flex:auto;
}
button {
    width: 30%;
    margin: 0 auto;
}

error-output {
    font-size: 12px;
    font-style: italic;
    color: red;
}